/*全画面*/
.wrapper{
  display: flex;
}

/*チャット画面*/
.main-chat{
  background-color: #ffffff;
  width:calc(100vw - 300px);
}

.main-chat-header{
  height: 100px;
  padding: 0 40px;
}

.main-chat-body{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
}

.main-chat-footer{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

/*サイドバー*/
.side-bar{
  background-color: #253141;
  width:300px;
  height: 100vh;
}

.side-bar-header{
  height:100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration:none; 
}

.chat-build a{
  color: deepskyblue;
  font-size: 10px;
  padding:14px;
  border: 1px solid lightblue;
  text-decoration:none; 
}

.side-bar-body{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.chat-room{
  padding: 20px 0px 40px 0px;
}

.chat-room a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration:none; 
}